<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="" method="get">
        <label for="name">USERNAME : </label>
        <input type="text" name="" id="">
        <br>
        <label for="id">Id</label>
        <input type="number" name="" id="">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>