<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <h1>login Form</h1>
    <form action="/login" method="get">
        <label for="">Name : </label>
        <input type="text" name="Uname" id="">
        <br>
        <label for="">Id : </label>
        <input type="number" name="UId" id="">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>